/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('img/42.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('img/42.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
header {
    text-align: center;
    margin-bottom: 30px;
}

.headline {
    font-size: 2rem;
    color: #e91e63;
    margin-bottom: 20px;
}

/* Secciones */
section {
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
}

section h2 {
    font-size: 1.5rem;
    color: #e91e63;
    margin-bottom: 15px;
    font-family: 'Pacifico', cursive;
    font-family: 'Walter Turncoat', cursive;
}

section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

/* Mapas */
.map {
    position: relative;
    overflow: hidden;
    padding-top: 40%; /* Relación de aspecto para vídeo 16:9 */
    border-radius: 20px;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20px;
}

/* Enlaces */
a {
    color: #e91e63;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #c2185b;
}

/* Efectos de cursor */
section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos para el formulario de RSVP */
.rsvp-form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rsvp-form h2 {
    font-size: 1.8rem;
    color: #e91e63;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.1rem;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
}

.form-group select {
    appearance: none;
    padding-right: 30px;
    background: url("arrow-down.png") no-repeat right center;
    background-size: 20px;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #e91e63;
}

button[type="submit"] {
    background-color: #e91e63;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #c2185b;
}

/* Estilos para la galería de fotos */
/* Estilos adicionales para personalización */
.photo-gallery {
    text-align: center;
    padding: 20px;
}

.photo-gallery h2 {
    font-size: 1.5rem;
    color: #e91e63;
    margin-bottom: 20px;
}
/* Estilos para el footer */
/* Estilos para el nuevo footer */
.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    flex: 1 1 calc(33.33% - 20px);
    text-align: left;
}

.footer-logo h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e91e63;
}

.footer-logo p {
    font-size: 1rem;
    opacity: 0.7;
    line-height: 1.5;
}

.footer-contact {
    flex: 1 1 calc(33.33% - 20px);
    text-align: center;
    margin-top: 20px;
}

.footer-contact h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #e91e63;
}

.footer-contact p {
    font-size: 1rem;
    margin: 0;
    opacity: 0.7;
    line-height: 1.5;
}

.footer-social {
    flex: 1 1 calc(33.33% - 20px);
    text-align: right;
    margin-top: 20px;
}

.footer-social h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #e91e63;
}

.social-icon {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.social-icon:hover {
    opacity: 0.7;
}

.social-icon img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

h1 {
    font-size: 72px; 
    font-weight: bold; 
    font-family: 'Georgia', serif; 
    color:#C45BAA; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 5px; 
    margin-top: 40px; 
    animation: bounce 2s infinite;
}

/* Animación de rebote */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px); /* Movimiento hacia arriba */
    }
    60% {
        transform: translateY(-15px); /* Movimiento hacia abajo */
    }
}

.instructions {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.instructions h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.instructions ol {
    font-size: 18px;
    color: #666;
    padding-left: 20px;
}

/* Estilo para el botón de descarga */
.download-button {
    text-align: center;
    margin-top: 20px;
}

.download-button a {
    display: inline-block;
    font-size: 24px;
    background-color: #ff5722;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-button a:hover {
    background-color: #f44336;
    transform: scale(1.1);
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    section {
        padding: 20px;
    }

    section h2 {
        font-size: 1.2rem;
    }

    section p {
        font-size: 0.9rem;
    }
}

/* Estilos para dispositivos más pequeños */
@media (max-width: 480px) {
    .container {
        max-width: 95%;
    }

    header h1 {
        font-size: 36px;
    }

    section {
        margin-bottom: 20px;
        padding: 20px;
    }

    .rsvp-form h2 {
        font-size: 1.5rem;
    }

    .form-group label {
        font-size: 1rem;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        font-size: 0.9rem;
    }

    .photo-gallery h2 {
        font-size: 1.2rem;
    }

    .download-button a {
        font-size: 20px;
        padding: 10px 20px;
    }
}
/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .carousel-inner img {
        max-width: 50%; /* Ajusta el ancho máximo de las imágenes */
        height: auto; /* Mantén la relación de aspecto */
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none; /* Oculta los controles de navegación previos/siguientes */
    }
}
